@model dynamic

@{
    ViewBag.Title = "Badgester";
}

<h2>Badgester</h2>

<form class="obi_issuer">
    <legend>Fake badge issuer</legend>
    <label>Your Email Address:</label>
    <input type="text" id="email" name="email" placeholder="you@ucdavis.edu" required="required" />
    <br/>
    <button class="issue">Issue Badge</button>
</form>


@section scripts
{
    <script src="http://beta.openbadges.org/issuer.js"></script>   
    
    <script>
        $("form").submit(function (e) {
            e.preventDefault();
            var assertionUrl = "http://badgester.azurewebsites.net/assertion/userbadge?email=" + encodeURIComponent($("#email").val());
            OpenBadges.issue(assertionUrl, function(errors, successes) {
                console.log(errors);
                console.log(successes);
            });
        });
    </script>
}